body{
  min-width: 960px;
  font-family: PT Sans, sans-serif;
}
.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

/*Хедер*/

.page-header{
  background-color: #ffcd34;
  min-height: 60px;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}
.page-header:after{
  content: "";
  width: 100%;
  height: 15px;
  background-image: linear-gradient(135deg, #FFCD34 35%,black 35%,black 65%,#FFCD34 65%);
  -webkit-background-size: 35px 20px;
  background-size: 35px 20px;
  position: absolute;
  bottom: 0;
}
ul{
  padding: 0;
  margin: 0;
}
.logo{
  width: 30%;
  font-size: 24px;
}
.nav-primary{
  width: 70%;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-primary li{
  display: inline-block;
  margin-right: 22px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo, .nav-primary{
  display: inline-block;
}
.nav-primary li:last-child{
  margin-right: 0;
}
.logo > .logo_brand_main, .logo > img{
  display: inline-block;
  vertical-align: bottom;
}
.logo_brand_main{
  padding-left: 10px;
  color: black; 
}
.page-header a{
  text-decoration: none;
  color: #98791b;
}
.btn-order a{
  background-color: #ffe184;
  padding: 12px 35px;
  color: black;
}
.active-btn-menu a{
  color: black;
}
.nav-primary li:first-child a,
.nav-primary li:nth-child(2n) a,
.nav-primary li:nth-child(3) a{
  border: 2px solid #ffcd34;
  padding: 10px 5px;
}
.nav-primary li:first-child a:hover,
.nav-primary li:nth-child(2n) a:hover,
.nav-primary li:nth-child(3) a:hover{
  color: black;
  border: 2px solid #bc9d36;
}
.nav-primary li:first-child a:active,
.nav-primary li:nth-child(2n) a:active,
.nav-primary li:nth-child(3) a:active{
  color: black;
  border: 2px solid #796e38;
}
.nav-primary li:last-child a:hover{
  background-color: #ffecb2;
}
.nav-primary li:last-child a:active{
  background-color: #f6bf16;
}

/* Промо блок*/

.promo-block{
  min-height: 460px;
  background-image: url(../img/ekskavator.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 75%;
  text-align: center;
}
.promo-block p{
  font-size: 44px;
  color: #ffffff;
  margin-top: 140px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.promo-block_slogan{
  font-size: 20px;
  font-weight: normal;
  color: #e1e1e1;
  width: 610px;
  margin: 20px auto 25px;
  padding: 0;
}
.promo-block_btn{
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffcd34;
  padding: 10px 55px 12px 20px;
  position: relative;
  display: inline-block;
}
.promo-block_btn:after{
  content: url(../pict/Forma.png);
  position: absolute;
  left: 160px;
  top: 12px;
}

/*Форма заказа*/

.form-order{
  min-height: 185px;
  background-color: #202e3b;
  position: relative;
}
.form-order_heading{
  font-size: 24px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffcd34;
}
.form-order input{
  border: 1px solid #ffcd34;
  height: 45px;
  width: 225px;
  background-color: #202e3b;
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-order input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: PT Sans, sans-serif;
}
.form-order input:-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: PT Sans, sans-serif;
}
.form-order_btn {
  font-size: 18px;
  font-weight: bold;
  height: 47px;
  width: 210px;
  color: #202e3b;
  border: 1px solid #ffcd34;
  background-color: #ffcd34;
  padding-left: 7px;
  padding-right: 7px;
  font-family: PT Sans, sans-serif;
  border: 0;
}
.form-order:before{
  content: "";
  width: 100%;
  height: 15px;
  background-image: linear-gradient(135deg, #FFCD34 35%,black 35%,black 65%,#FFCD34 65%);
  -webkit-background-size: 35px 20px;
  background-size: 35px 20px;
  position: absolute;
  top: 0;
}
.form-order_btn:hover{
  background-color: #ffd966;
}
.form-order_btn:active{
  background-color: #f6bf16;
}
input:focus{
  outline: none;
  border-color: #978952;
}
button:focus{
  outline: none;
  background-color: #f6bf16;
}
textarea:focus{
  outline: none;
}

/*Преимущества*/


.advantages{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.advantage-item {
  width: 23.5%;
  float: left;
  padding-left: 20px;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
}
.advantage-item:last-child{
  margin-right: 0;
}
.advantage-item{
  padding-left: 50px;
  position: relative;
}
.advantage-item:before{
   position: absolute;
   display: inline-block;
   background-size: contain;
}
.first:before{
  content: url(../pict/Rectangle.png);
  top: 17px;
  left: 0px;
}
.second:before{
  content: url(../pict/Ellipse.png);
  top: 17px;
  left: -5px;
}
.third:before{
  content: url(../pict/Roundedr.png);
  top: 17px;
  left: -5px;
}
.fouth:before{
  content: url(../pict/Rounded.png);
  top: 17px;
  left: 5px;
}
.deals{
  background-color: #f3f3f3;
}
.deals h2{
  font-size: 26px;
  margin-top: 48px;
  margin-bottom: 34px;
}

/*Вся техника*/

.technic-menu{
  width: 30%;
  float: left;
}
.about{
  padding: 15px 0;
}
.about-number{
  width: 65%;
  float: left;
  margin-right: 5%;
}
.technic-menu li{
  font-size: 16px;
  line-height: 38px;
}
.technic-menu ul{
margin-bottom: 50px;
}
.technic-menu a{
  color: #202e3b;
}
.deals-table{
  width: 660px;
  float: left;
  font-size: 16px;
}
tr{
  height: 40px;
}
td, th{
  padding-left: 20px;
}
.deals-table th{
  background-color: #dfdfdf;
  text-align: left;
}
tr:nth-child(2n){
  background-color: #f3f3f3;
}
tr:nth-child(2n+1){
  background-color: #ffffff;
}

/*Спецтех в цифрах*/

.about{
  background-color: #202e3b;
  padding-top: 50px;
  position: relative;
  height: 420px;
}
.about h2{
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 30px;
}
.about li{
  font-size: 18px;
  line-height: 50px;
  color: #9e9e9e;
}
.number-bold{
  font-size: 38px;
  font-weight: bold;
  color: #f1b132;
  display: inline-block;
}
.line{
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.blockquote{
  padding: 0;
  margin: 0;
}
.about-number{
  float: left;
  width: 35%;
  margin-right: 5%;
}
.about-reviews{
  width: 60%;
  float: left;
}
.about:before{
  content: "";
  width: 100%;
  height: 15px;
  background-image: linear-gradient(135deg, #FFCD34 35%,black 35%,black 65%,#FFCD34 65%);
  -webkit-background-size: 35px 20px;
  background-size: 35px 20px;
  position: absolute;
  top: 0;
}
.about:after{
  content: "";
  width: 100%;
  height: 15px;
  background-image: linear-gradient(135deg, #FFCD34 35%,black 35%,black 65%,#FFCD34 65%);
  -webkit-background-size: 35px 20px;
  background-size: 35px 20px;
  position: absolute;
  bottom: 0;
}
/*Отзывы*/

.review{
  font-size: 0;
  margin-bottom: 35px;
}
.review img{
  display: inline-block;
  vertical-align: top;
  max-width: 25%;
  margin-right: 25px;
  border: 3px solid #FFCD34;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.review blockquote{
  font-size: 18px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 74%;
  color: #ffffff;
}
.review cite{
  color: #f1b132;
}
.map{
  width: 100%;
}
.page-footer{
  background-color: #202e3b;
  min-height: 60px;
  font-size: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-footer a{
  text-decoration: none;
  color: #ffffff;
}
.btn-order2 a{
  color: #ffcd34;
  margin-left: 35px;
  margin-right: 35px;
}
.logo_brand{
  color: #ffcd34;
  padding-left: 10px;
}
.nav-primary-down{
  width: 70%;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-primary-down li{
  display: inline-block;
  margin-right: 22px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo, .nav-primary-down{
  display: inline-block;
}
.nav-primary-down li:last-child{
  margin-right: 0;
}
.nav-primary-down li:first-child a,
.nav-primary-down li:nth-child(2n) a,
.nav-primary-down li:nth-child(3) a{
  border: 2px solid #202e3b;
  padding: 10px 5px;
}
.nav-primary-down li:first-child a:hover,
.nav-primary-down li:nth-child(2n) a:hover,
.nav-primary-down li:nth-child(3) a:hover{
  border: 2px solid #636d76;
}
.nav-primary-down li:first-child a:active,
.nav-primary-down li:nth-child(2n) a:active,
.nav-primary-down li:nth-child(3) a:active{
  border: 2px solid #a6abb1;
}


/*Разметка каталога*/

/*Каталог. Под Header*/

.consultation{
  background-image: url(../img/catalog_bg_up.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.consultation-title{
  font-size: 26px;
  font-weight: normal;
  color: #ffcd34;
  float: left;
  width: 60%;
  margin-bottom: 0;
}
.consultation-slogan{
  font-size: 16px;
  color: #ffffff;
  float: left;
  width: 65%;
  margin-top: 10px;
}
.consultation-button{
  font-size: 18px;
  font-weight: bold;
  color: #202e3b;
  text-decoration: none;
  background-color: #ffcd34;
  padding: 10px 5px;
  margin-top: 15px;
  float: right;
  text-align: center;
  width: 25%;
}
.consultation-button:hover{
  background-color: #ffd966;
}
.consultation-button:active{
  background-color: #f6bf16;
}
.consultation-underbutton{
  font-size: 16px;
  color: #ffffff;
  float: right;
  text-align: left;
  width: 30%; 
  position: relative;
  left: 37px ;
}

.catalog{
  width: 100%;
  padding-top: 30px;
  background-color: #f3f3f3;
}
.products{
  width: 68%;
  float: left;
}

/*SideBar Catalog*/

.catalog-menu{
  font-size: 16px;
  line-height: 38px;
  width: 32%;
  float: left;
}
.catalog-menu h2{
  font-size: 26px;
  margin: 0 0 20px;
}
.catalog-menu h2:before{
  content: "";
  background-image: url(../pict/truck_catalog-menu.png);
  width: 31px;
  height: 24px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
}
.catalog-menu ul{
  margin-bottom: 25px;
}
.catalog-menu-list a{
  color: #353535;
}
.catalog-menu-active-btn{
  font-weight: bold;
  text-decoration: none;
}
.catalog-menu-active-btn:before{
  content: "";
  background-image: url(../pict/catalog-menu-active.png);
  background-repeat: no-repeat;
  width: 7px;
  height: 11px;
  display: inline-block;
  padding-right: 10px;
}
.catalog-menu-button-download {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: #354b60;
  padding: 10px 15px 10px 40px;
  position: relative;
}
.catalog-menu-button-download:before{
  content: "";
  background-image: url(../pict/catalog-menu-btn-download.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.catalog-menu-button-download:hover{
background-color: #46617a;
}
.catalog-menu-button-download:active{
background-color: #567999;
}
/*  Catalog products*/


.product{
  width: 47%;
  margin-left: 3%;
  margin-bottom: 3%;
  float: left;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 25px 35px 25px;
  position: relative;
}
.product-title{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}
.price{
  font-size: 27px;
  font-weight: bold;
}
.product p{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.product-button{
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #cfc;
  padding: 8px 12px;
  width: 40%;
  display: inline-block;
}
.catalog-button{
  font-size: 0;
}
.button-go{
  background-color: #f3c331;
}
.button-go:hover{
  background-color: #ffd966;
}
.button-go:active{
  background-color: #ffc600;
}
.button-about{
  background-color: #354b60;
}
.button-about:hover{
  background-color: #46617a;
}
.button-about:active{
  background-color: #567999;
}
.new-product:after{
  content: "new";
  font-size: 20px;
  font-weight: bold;
  color: white;
  /*transform: rotate(35deg);*/
  background-image: url(../pict/catalog-new_product-lenta.png);
  position: absolute;
  width: 71px;
  height: 69px;
  top: 0;
  right: 0;
}
.pagination{
  clear: both;
  text-align: center;
}
.pagination li{
  font-size: 16px;
  display: inline-block;
  padding: 1px 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;

}
.pagination a{
  text-decoration: none;
  color: #353535;
  border: 2px solid #f3f3f3;
  padding: 2.5px 4px 1px 4px;
}
.pagination li:first-child{
  background-color: #354b60;
}
.pagination a:hover{
  border-color: #9aa5af;
}
.pagination a:active{
  border-color: #354b60;
}


/*Спецпредложение*/

.special-offer{
  background-image: url(../img/catalog_bg_down.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 100%;
}
.special-offer h3{
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}
.offer{
  width: 32%;
  margin-right: 2%;
  float: left;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 25px 35px 25px;
  margin-bottom: 50px;
  position: relative;
}
.offer:last-child{
  margin-right: 0;
}
.best-price:after{
  content: "sale";
  font-size: 20px;
  font-weight: bold;
  color: white;
  /*transform: rotate(35deg);*/
  background-image: url(../pict/special-offer-lenta.png);
  position: absolute;
  width: 71px;
  height: 69px;
  top: 0;
  right: 0;
}
.offer h3{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: black;
}
.offer p{
  font-weight: bold;
  text-align: left;
}
.ex-price{
  font-size: 22px;
  font-weight: bold;
  color: #d12222;
  text-decoration: line-through;
  padding-right: 15px;
}

/*Portfolio*/


.portfolio-nav{
  background-image: url(../img/portfolio-nav.jpg);
  background-position: 0% 80%;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.portfolio-title h1{
  font-size: 24px;
  font-weight: normal;
  color: #ffcd34;
  width: 20%;
  float: left;
  margin-top: 43px;
}
.portfolio-nav ul{
  width: 80%;
  float: right;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
}
.portfolio-nav li{
  display: inline-block;
  padding-left: 36px;
}
.portfolio-nav a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.portfolio-nav a:hover{
  font-weight: bold;
}
.portfolio-nav a:active{
  border: 0;
}
.portfolio-section{
  min-height: 500px;
}
.portfolio-section:before{
  content: "";
  width: 100%;
  height: 15px;
  background-color: black;
  display: block;
}
.one{
   background-image: url(../img/portfolio_large_up.jpg);
   -webkit-background-size: 100%;
   background-size: 100%;
}
.two{
  background-image: url(../img/portfolio-large-middle.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
}
.three{
  background-image: url(../img/portfolio-large-down.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
}
.post{
  background-color: #fff;
  width: 30%;
  padding: 28px 20px 35px 28px;
  float: left;
  margin-top: 11%;  
}
.post-title{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.post-button{
  text-decoration: none;
  color: black;
  background-color: #ffcd34;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 35px 10px 15px;
  position: relative;
}
.post-button:hover{
  background-color: #ffd966;
}
.post-button:active{
  background-color: #f6bf16;
}
.post-button:after{
  content: "";
  background-image: url(../pict/portfolio-post-arrow.png);
  display: inline-block;
  width: 13px;
  height: 19px;
  position: absolute;
  top: 10px;
  right: 12px;
}
.post-text{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

/* Контакты */
.contact-us{
  background-image: url(../img/contacts_excavator_back.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.contact-us-title, .contact-us-text{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact-us-title{
  font-size: 26px;
  font-weight: normal;
  color: #ffcd34;
}
.contact-us-text{
  font-size: 16px;
  color: #ffffff;
  padding-left: 15px;
}
.contact-us-block{
float: left;
}
.contact-btn{
  margin-top: 37px;
}
.map_contacts{
  width: 64%;
  float: left;
  margin-right: 2%;
}
.form-order_contacts{
  width: 32%;
  float: left;
}
.form-order_contacts input{
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  border: 1px solid  #d5d5d5;
  padding-left: 15px;
}
.form-order_contacts input:focus{
  border: 1px solid  #98999b;
}
textarea{
  width: 100%;
  max-width: 100%;
  height: 84px;
  max-height: 84px;
  border: 1px solid  #d5d5d5;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
}
textarea:focus{
  border: 1px solid  #98999b;
}
.map_form-order{
  background-color: #f3f3f3;
  padding-top: 30px;
  padding-bottom: 40px;
}
.form-order_contacts p{
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 18px 0;
  padding: 0 0 0 35px;
}
.contact-phone, .contact-email{
  position: relative;
}
.contact-phone:before{
  content: "";
  background-image: url(../pict/phone-icon-contacts.png);
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}
.contact-email:before{
  content: "";
  background-image: url(../pict/mail-icon-contacts.png);
  position: absolute;
  left: 0;
  top: 3px;
  width: 23px;
  height: 17px;
}
.form-order_contacts h2{
  font-size: 16px;
  font-weight: normal;
}
.form-order_contacts button{
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #354b60;
  width: 330px;
  border: 0;
  padding-top: 11px;
  padding-bottom: 11px;
}
.map_contacts iframe{
  border: 1px solid  #d5d5d5;
}
.contacts-reviews-title{
  font-size: 26px;
  font-weight: bold;
  margin-top: 35px;
}
.contacts-reviews{
  font-size: 0;
  padding-bottom: 70px;
}
.contacts-review{
  display: inline-block;
  width: 24.25%;
  margin-right: 1%;
  text-align: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contacts-review a{
  text-decoration: none;
  color: black;
}
.contacts-review:last-child{
  margin-right: 0;
}
.contacts-review blockquote{
  margin: 30px 0 0 0;
} 
.contacts-cite{
  font-weight: bold;
  line-height: 40px;
}